<div>
	<div class="alert alert-danger" ng-if="failureText">
		<i class="fa fa-exclamation-triangle"></i> {{ failureText }}
	</div>
	<div class="alert alert-success" ng-if="successText">
		<i class="fa fa-check-circle-o"></i> {{ successText }}
	</div>
	<h2 class="sub-header">
		Docks
		<input	position="inline"
				id="searchBox"
				placeholder="Filter"
				class="pull-right form-control"
				type="text"
				ng-model="searchText"
				style="width: 200px; font-weight: normal;">
	</h2>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Dock ID</th>
					<th>Location</th>
					<th>Current Bike ID</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="dock in docks | filter:searchText as filterResults">
					<td>{{ dock.dockID }}</td>
					<td>South Side Library</td>
					<td>{{ dock.bikeID }}</td>
				</tr>
				<tr ng-if="filterResults.length == 0">
					<td colspan="6" style="text-align: center">No docks found</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>