<div>
    <div class="alert alert-danger" ng-if="failureText">
        <i class="fa fa-exclamation-triangle"></i> {{ failureText }}
    </div>
    <div class="alert alert-success" ng-if="successText">
        <i class="fa fa-check-circle-o"></i> {{ successText }}
    </div>
    <h2 class="sub-header">
        Docks
        <div class="btn btn-primary" title="Add New Dock" data-toggle="modal" data-target="#addDockModal" ng-click="addDockErrorText = '';">
            <div class="fa fa-plus"></div>
        </div>
        <input	position="inline"
                id="searchBox"
                placeholder="Filter"
                class="pull-right form-control"
                type="text"
                ng-model="searchText"
                style="width: 200px; font-weight: normal;">
    </h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Dock ID</th>
                    <th>Location</th>
                    <th>Current Bike ID</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="loadingDocks">
                    <td colspan="6" style="text-align: center">
                        <i class="fa fa-spinner fa-spin"></i>
                    </td>
                </tr>
                <tr ng-repeat="dock in docks | filter:searchText as filterResults">
                    <td>{{ dock.dockID }}</td>
                    <td>{{ dock.location }}</td>
                    <td>{{ dock.bikeID }}</td>
                </tr>
                <tr ng-if="filterResults.length == 0 && !loadingDocks">
                    <td colspan="6" style="text-align: center">No docks found</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="addDockModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add Dock</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" ng-if="addDockErrorText">
                        {{ addDockErrorText }}
                    </div>
                    <div class="form-group">
                        <label for="newDockId">Dock ID</label>
                        <input id="newDockId" class="form-control" ng-model="newDock.id" type="text">
                    </div>
                    <div class="form-group">
                        <label for="newDockLocation">Location</label>
                        <input id="newDockLocation" class="form-control" ng-model="newDock.location" type="text">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="addDock()">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>